---
---

<div class="content-abstract py-3">
  <h2 class="py-3 mx-auto mb-0 text-center fs-4">Abstract</h2>
  <span>
    <slot />
  </span>
</div>

<style>
  .content-abstract {
    width: 80%;
    margin: 0 auto;
  }
  @media (max-width: 767.98px) {
    .content-abstract {
      width: 95%;
    }
  }
  span {
    font-style: italic;
    text-align: justify;
  }
</style>