@import url("https://fonts.cdnfonts.com/css/sofia-pro");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.w-fit-content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa;
  /* border-radius: 5px; */
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}
::-webkit-scrollbar-thumb:active {
  background: #555;
}

.pub-btn {
  background: rgba(250, 48, 67, 0.2);
  color: rgba(250, 48, 67, 0.8) !important;
  margin-left: 15px;
  border-radius: 7px;
  font-size: 14px !important;
  padding: 2px 15px !important;
  margin-top: 8px !important;
  /* Mikha */
  position: relative;
  overflow: hidden;
}

.pub-btn div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: white;
  opacity: 0.3;
  height: 100%;
  width: 100%;
  transform: skewX(-45deg);
  background: linear-gradient(to right, white, white 20px, transparent 20px);
  transform-origin: left bottom;
  animation: shine 5s ease-in infinite;
}

@keyframes shine {
  0% {
    transform: skewX(-45deg) translateX(-100%);
  }
  /* 20% {
    transform: skewX(-45deg) translateX(100%);
  } */
  30% {
    transform: skewX(-45deg) translateX(-100%);
  }
  45% {
    transform: skewX(-45deg) translateX(100%);
  }
  100% {
    transform: skewX(-45deg) translateX(100%);
  }
}

@media (max-width: 992px) {
  .pub-btn {
    width: 80px;
  }
}

.pub-btn:hover {
  background: rgba(250, 48, 67, 0.3);
  color: rgb(255, 37, 59) !important;
}

html {
  scroll-behavior: smooth;
}
body {
  font-size: 18px
}

section .content {
  position: relative;
  text-align: justify;

  /* & li {
    text-align: justify;
  }
  & ol > li {
    text-indent: 3ch;
    line-height: 1.5;
    margin-bottom: 1rem;
    list-style-position: inside;
    > strong {
      display: inline-block;
    }
  }
  & ol[type="A"] > li > strong {
    margin: 2rem 0 1rem;
  } */
  & a {
    text-decoration: none;
    color: #ee6d6d;

    &:hover {
      color: rgba(238, 109, 109, 0.8)
    }
  }
  & .subtitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;

    &:not(:first-of-type) {
      margin-left: 1rem;
    }
  }
  .floating-figure {
    figure {
      margin-left: 1.5rem;
      margin-bottom: 1rem;
    }
  }
  
  figure {
    width: clamp(25vw, 300px, 30vw);
    
    & img {
      width: 100%;
      border: #ee6d6d 1px solid;
      border-radius: 5px;
    }

    & table {
      thead tr th,
      tbody tr th:first-child {
        text-align: left;
      }
      ul li {
        text-indent: 10px;
      }
    }

    &:has(> table) {
      overflow-x: scroll;
      margin-bottom: 1rem;
    }
    
    & figcaption {
      text-align: justify;
      color: rgba(33, 37, 41, 0.75);
      font-style: italic;
      font-size: 0.9rem;
      margin-top: 0.75rem;
    }
  }
  figure.figure-block {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  span.katex-display > span > span.katex-html {
    display: none;
  }
  span.math_eq {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

    & > span.caption {
      font-size: 0.9rem;
      color: rgba(33, 37, 41, 0.75);
    }

    & > p.explain {
      width: fit-content;
      margin-left: auto;
      margin-right: auto;

      span {
        text-align: left;
      }
    }
  }
}
@media (max-width: 767.98px) {
  section .content {
    font-size: 0.95rem;
    hyphens: auto;

    figure figcaption {
      font-size: 0.8rem;
    }
    span.math_eq > span.caption {
        font-size: 0.8rem;
    }
  }
}
@media (max-width: 992px) {
  section .content {
    .floating-figure {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
      figure {
        margin-left: 0;
        width: 100%;
      }
    }
    .figure-block {
      width: 100% !important;
    }
  }
}

.custom-tooltip {
  --bs-tooltip-bg: #ee6e6e;
  --bs-tooltip-opacity: 1;
  --bs-tooltip-max-width: 400px;
  font-family: inherit;

  a {
    color: #ee6e6e;
  }
}
@media (max-width: 992px) {
  .custom-tooltip {
    --bs-tooltip-max-width: 300px;
  }
}