@import url("https://fonts.cdnfonts.com/css/sofia-pro");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.pub-btn {
  background: rgba(250, 48, 67, 0.2);
  color: rgba(250, 48, 67, 0.8) !important;
  margin-left: 15px;
  border-radius: 7px;
  font-size: 14px !important;
  padding: 2px 15px !important;
  margin-top: 8px !important;
  position: relative;
  overflow: hidden;
}
@media (max-width: 992px) {
  .pub-btn {
    width: 80px;
  }
}
.pub-btn:hover {
  background: rgba(250, 48, 67, 0.3);
  color: rgb(255, 37, 59) !important;
}
.pub-btn div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: white;
  opacity: 0.3;
  height: 100%;
  width: 100%;
  -webkit-transform: skewX(-45deg);
          transform: skewX(-45deg);
  background: linear-gradient(to right, white, white 20px, transparent 20px);
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-animation: shine 5s ease-in infinite;
          animation: shine 5s ease-in infinite;
}

@-webkit-keyframes shine {
  0% {
    -webkit-transform: skewX(-45deg) translateX(-100%);
            transform: skewX(-45deg) translateX(-100%);
  }
  /* 20% {
    transform: skewX(-45deg) translateX(100%);
  } */
  30% {
    -webkit-transform: skewX(-45deg) translateX(-100%);
            transform: skewX(-45deg) translateX(-100%);
  }
  45% {
    -webkit-transform: skewX(-45deg) translateX(100%);
            transform: skewX(-45deg) translateX(100%);
  }
  100% {
    -webkit-transform: skewX(-45deg) translateX(100%);
            transform: skewX(-45deg) translateX(100%);
  }
}

@keyframes shine {
  0% {
    -webkit-transform: skewX(-45deg) translateX(-100%);
            transform: skewX(-45deg) translateX(-100%);
  }
  /* 20% {
    transform: skewX(-45deg) translateX(100%);
  } */
  30% {
    -webkit-transform: skewX(-45deg) translateX(-100%);
            transform: skewX(-45deg) translateX(-100%);
  }
  45% {
    -webkit-transform: skewX(-45deg) translateX(100%);
            transform: skewX(-45deg) translateX(100%);
  }
  100% {
    -webkit-transform: skewX(-45deg) translateX(100%);
            transform: skewX(-45deg) translateX(100%);
  }
}
::-moz-selection {
  color: white;
  background: rgba(136, 135, 135, 0.5);
}
::selection {
  color: white;
  background: rgba(136, 135, 135, 0.5);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
  /* border-radius: 5px; */
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

::-webkit-scrollbar-thumb:active {
  background: #555;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: "Times New Roman", Times, serif;
}

.main-section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.main-section .section-title {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}
@media (max-width: 992px) {
  .main-section .section-title {
    margin-bottom: 3rem;
  }
}
.main-section .section-title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 150px;
  height: 2px;
  background-color: #ee6d6d;
  border-radius: 5px;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}
.main-section .section-title:hover::after {
  width: 100%;
}
.main-section .border-box {
  border: #dee2e6 2px solid;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
@media (min-width: 991.98px) {
  .main-section .border-box {
    padding: 5rem !important;
  }
}
.main-section.letter .border-box {
  width: 85%;
}
@media (max-width: 992px) {
  .main-section.letter .border-box {
    width: 99%;
  }
}
@media (max-width: 767.98px) {
  .main-section.letter .border-box {
    width: 99.5%;
  }
}
.main-section .border-box .content {
  position: relative;
  text-align: justify;
}
@media (max-width: 767.98px) {
  .main-section .border-box .content {
    font-size: 0.95rem;
    -ms-hyphens: auto;
        hyphens: auto;
  }
}
.main-section .border-box .content .return {
  background-color: #6acbfc;
  color: white;
}
.main-section .border-box .content p > span {
  display: block;
  text-indent: 3ch;
}
.main-section .border-box .content p > span:not(:last-child) {
  margin-bottom: 1rem;
}
.main-section .border-box .content a {
  text-decoration: none;
  color: #ee6d6d;
}
.main-section .border-box .content a:hover {
  color: #db1a1a;
}
.main-section .border-box .content li {
  text-align: justify;
}
.main-section .border-box .content ol > li {
  text-indent: 3ch;
  line-height: 1.5;
  margin-bottom: 1rem;
  list-style-position: inside;
}
.main-section .border-box .content ol > li > strong {
  display: inline-block;
}
.main-section .border-box .content ol[type=A] > li > strong {
  margin: 2rem 0 1rem;
}
.main-section .border-box .content .subsection .katex .katex-html {
  display: none;
}
.main-section .border-box .content .subsection span.math_eq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main-section .border-box .content .subsection span.math_eq span.caption {
  font-size: 0.9rem;
  color: rgba(33, 37, 41, 0.75);
}
.main-section .border-box .content .subsection span.math_eq p.explain {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.main-section .border-box .content .subsection span.math_eq p.explain span {
  text-align: left;
}
.main-section .border-box .content .subsection .subtitle {
  font-weight: bold;
  margin-bottom: 1.2rem;
}
.main-section .border-box .content .subsection .subtitle:not(:first-of-type) {
  margin-left: 1rem;
}

.custom-tooltip {
  font-family: inherit;
  --bs-tooltip-bg: $my-red-color;
  --bs-tooltip-opacity: 1;
  --bs-tooltip-max-width: 400px;
}
@media (max-width: 992px) {
  .custom-tooltip {
    --bs-tooltip-max-width: 300px;
  }
}
.custom-tooltip a {
  color: #ee6d6d;
}
/*# sourceMappingURL=global.css.map */