---

---

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 pb-3">
        <img src="/Logo-rev.png" class="img-fluid" />
        <h4>Contact Us</h4>
        <p>Reach to us about ideas, suggestion or any questions you have!</p>
      </div>
      <div class="col-md-8">
        <div class="jobs">
          <p class="text-center">Website Managers: <span>Mikhael Mounay | Mohanad Elagan</span></p>
        </div>
        <div class="social text-center">
          <a href="https://www.facebook.com/YouthScienceJournall/"><i class="fa-brands fa-facebook"></i>&nbsp; Facebook</a>
          <a href="https://www.instagram.com/ysciencejournal/"><i class="fa-brands fa-instagram"></i>&nbsp; Instagram</a>
          <a href="https://www.linkedin.com/company/ysj/"><i class="fa-brands fa-linkedin"></i>&nbsp; LinkedIn</a>
        </div>
      </div>
    </div>
    <div class="rights">&copy; 2020-2024 All Rights reserved | Youth Science Journal</div>
  </div>
</footer>

<style>
  footer {
    padding-top: 50px;
    background: #000;
    bottom: 0;
    font-family:
      system-ui,
      -apple-system,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      "Noto Sans",
      "Liberation Sans",
      Arial,
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      "Noto Color Emoji";
  }
  @media (min-width: 992px) {
    footer {
      padding-left: 3rem;
    }
  }

  footer h4 {
    color: #f2f2f2;
    position: relative;
    margin-left: 100px;
    margin-top: 45px;
    margin-bottom: 25px;
    /* Mikha */
    /* font-family: -webkit-pictograph; */
    /* font-size: 2.3rem; */
    font-size: 2.5rem;
    font-family: "Lobster", cursive !important;
    width: fit-content;
  }

  footer h4::after {
    content: "";
    background-color: #f2f2f2ad;
    height: 1.5px;
    position: absolute;
    top: 47px;
    /* Mikha */
    /* margin-left: -172px; */
    /* width: 172px; */
    width: 100%;
    left: 0;
  }

  footer p {
    color: #676767;
    font-size: 14px;
    /* margin-left: 100px; */
  }

  footer .jobs p {
    font-size: 16px;
  }

  footer img {
    height: 28px !important;
  }

  footer .jobs {
    /* margin-left: 150px; */
    margin-top: 90px;
    margin-bottom: 60px;
    /* Mikha */
    margin-inline: auto;
  }

  @media (max-width: 992px) {
    footer .jobs,
    footer p {
      margin-left: 15px;
    }
    footer h4 {
      margin-left: auto;
      margin-right: auto;
    }
    footer .jobs {
      margin-top: 25px;
    }
  }

  footer .jobs p span {
    color: #f2f2f2;
  }

  footer a {
    text-decoration: none;
    margin: 0 20px;
    /* font-size: 20px; */
    color: #ccc;
    /* Mikha */
    font-size: 17px;
    transition: 0.2s;
  }

  /* Mikha */
  footer a:first-child {
    margin-left: 0;
  }

  footer a:last-child {
    margin-right: 0;
  }
  /* End Mikha */

  footer a i {
    font-size: 20px;
  }

  footer a:hover {
    color: #f2f2f2;
  }

  .rights {
    color: #ccc;
    font-size: 11px;
    margin-top: 60px;
    margin-bottom: 10px;
  }

  /* Mikha */
  @media (max-width: 767.98px) {
    footer {
      text-align: center;
    }
    footer a {
      margin-inline: auto;
    }
    footer a::after {
      content: "\a\a";
      white-space: pre;
    }
    .rights {
      margin-top: 30px;
    }
  }
</style>
