---
---

<section class="main-section letter">
  <div class="container-lg">
    <div class="border-box mx-auto px-3 px-md-4 py-5">
      <h2 class="section-title text-center">
        Letter from the Journal
      </h2>
      <div class="content">
        <slot />
      </div>
    </div>
  </div>
</section>
